h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
.border {
  margin-right: 5%;
  margin-left: 5%;
  border: 1px solid black;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 80px;
}

b {
  font-size: 200%;
}

nav {
  background-color: #a9b7c0;
  border-bottom-color: #231b13;
}
